body {
  margin: 0;
  width: 100%;
}
.container {
  position: relative;
  width: 1366px;
  height: 690px;
  margin: auto;
  background-image: url("../images/background.png");
  display: flex;
}
.start-button {
  position: relative;
  display: block;
  margin: auto;
  width: 800px;
  height: 80px;
  border-radius: 15.02px;
  box-shadow: 2px 8px 5px black, -2px 8px 5px black;
  background-color: #dadae2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 27px;
  color: black;
  text-align: center;
  line-height: 80px;
  text-decoration: none;
}
